#main {
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 20px;
}

#start {
    width: 80%;
    text-align: center;
}

.navigation {
    background-color: whitesmoke;
    width: 100%;
    text-align: center;
}

.contain {
    height: 40px;
    width: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn {
    width: 80%;
    height: 50px;
    font-size: 28px;
}

p {
    font-size: 20px;
}